<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <main class="home">
            <div class="container">
                <h1><%= title %></h1>
                <nav>
                    <a class="button" href="about.html">About</a>
                    <a class="button" href="/products">Products</a>
                    <a class="button" href="/products/add">Add products</a>
                </nav>
            </div>
        </main>
    </body>
</html>
